/* Color Palette************
Claret: #6D1A36;
Green: #53917E;
header green:#7ADEC0;
Peach:#FCF5ED;
Wenge:#63535B;

*/
/*
Global Styles
********************/

body{
	padding: 0;
	margin: 0;
	color:#63535B;
	font-family: 'Lato', sans-serif;
	font-size: 19px;
	line-height: 1.5;
	text-align: center;
}

.container{
	width: 100%;
	margin: 0 auto;

}


header{

	
	background-color: #7ADEC0;
	color: #FCF5ED;
	padding: 50px 0px;


}
footer{
	
	height: 30%;
	background-color: #63535B;
	padding: 30px;
}



h1{
	color: #FCF5ED;
	font-family: 'Quicksand', sans-serif;
	font-size: 3rem;
	margin: 0px;
}

h2{
	color: #53917E;
	font-size: 2rem;
	margin: 0;

}
a {
	text-decoration: none;
	color:  #931C3A;
}

@media (max-width: 650px){
	.container{
		width: 70%;
	}
	
}
/*
Header
*******************
*/
.logo{
	border-radius: 50%;

	
}

.btn-header{
	background-color: #931C3A;
	padding: 10px;
	display: inline-block;
	color: #FCF5ED;

}


/*
Main content
********************/
.about-me{
	
	background-color: #FCF5ED;
	padding: 50px 0px;
	border-bottom: medium dotted #7ADEC0;
}
.travel{
	border-bottom: none;
}
/*
Footer
********************/
footer h2{
	color: #FCF5ED;
	
}

ul{
	list-style-type: none;
	
}

footer li{
	display: inline-block;
	

}

li a{
	font-size: 3rem;
	padding: 20px;
}


